@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

 *{
   font-family: Outfit;
 }

 .active{
   background-color: rgb(140, 191, 134);
   color: white;
 }